<div class="page-header">
  <div class="container">
    <h1>Datos Elector</h1>

  </div>
</div>
<div class ="container">
  <div class="mt-1">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="rut">
        <th mat-header-cell *matHeaderCellDef> Rut </th>
        <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="circunscripcion_Electoral">
        <th mat-header-cell *matHeaderCellDef> Circunscripcion Electoral </th>
        <td mat-cell *matCellDef="let element"> {{element.circunscripcion_Electoral}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="comuna">
        <th mat-header-cell *matHeaderCellDef> Comuna</th>
        <td mat-cell *matCellDef="let element"> {{element.Comuna}} </td>
      </ng-container>

      <ng-container matColumnDef="provincia">
        <th mat-header-cell *matHeaderCellDef> Provincia</th>
        <td mat-cell *matCellDef="let element"> {{element.provincia}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region</th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef> Pais</th>
        <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
      </ng-container>

      <ng-container matColumnDef="mesa">
        <th mat-header-cell *matHeaderCellDef> Mesa</th>
        <td mat-cell *matCellDef="let element"> {{element.mesa}} </td>
      </ng-container>

      <ng-container matColumnDef="local_Votacion">
        <th mat-header-cell *matHeaderCellDef> Local Votación</th>
        <td mat-cell *matCellDef="let element"> {{element.local_Votacion}} </td>
      </ng-container>

      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicación</th>
        <td >{{elector.rut}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <input type="text" matInput [(ngModel)]="elector.rut" name="rut">


    <p>{{ elector.rut }}</p>
    <p>{{ elector.nombre }}</p>
    <p>{{ elector.circunscripcion_Electoral }}</p>
    <p>{{ elector.comuna }}</p>
    <p>{{ elector.provincia }}</p>
    <p>{{ elector.region }}</p>
    <p>{{ elector.mesa }}</p>
    <p>{{ elector.local_Votacion }}</p>
    <p>{{ elector.ubicacion}}</p>


  </div>

</div>
